:root {
  --main-bg-color: #2f303a;
  --main-text-color: #757575;
  --main-accent: #2196f3;
  --main-light: #ffffff;
}
body {
  font-family: 'Roboto';
  color: #212121;
}
a {
  color: #212121;
  text-decoration: none;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
}
ul {
  list-style-type: none;
}
.menu-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contact-link {
  color: var(--main-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--main-accent);
}
.banner {
  color: #ffffff;
  background-color: var(--main-bg-color);
  height: 600px;
  font-size: 44px;
  text-align: center;
}
button {
  cursor: pointer;
}
.order {
  color: var(--main-light);
  background-color: var(--main-accent);
}
.features {
  font-size: 14px;
  line-height: 16px;
}
.features-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--main-text-color);
}

footer {
  background-color: var(--main-bg-color);
  height: 252px;
}
.location {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.logo-color {
  color: var(--main-accent);
}
footer .logo {
  color: #ffffff;
}
